<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NEIRA</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
  <script type="module" src="static/js/utils/auth.js"></script>
</head>
<body>
  <!-- Import the page layout component -->
  <script type="module" src="static/js/components/page-layout.js"></script>
  <script type="module" src="static/js/pages/review-regatta.js"></script>

  <page-layout>
    <div class="section content-width">
      <h2 id="regatta-name"></h2>
    </div>
    <div class="section content-width">
      <div id="regatta-comment"></div>
    </div>
    <div class="section content-width">
      <a id="row2k-link" href="">View on row2k</a>
    </div>
    <div class="section">
      <div class="comparison-table">
        <div class="table-header">
          <!-- <div class="table-cell header-cell">Heat</div> -->
          <div class="table-cell header-cell">Parsed</div>
          <div class="table-cell header-cell">Cleaned</div>
          <div class="table-cell header-cell">Reviewed</div>
        </div>
        <div id="table-body"></div>
      </div>
    </div>
    <div class="section content-width">
      <h3>Corrections</h3>
      <div id="corrections-container"></div>
    </div>
  </page-layout>

  <template id="heat-row-template">
    <div class="table-row">
      <!-- <div class="table-cell heat-name-cell"></div> -->
      <div class="table-cell heat-data-cell parsed-cell">
        <pre class="results-table"></pre>
      </div>
      <div class="table-cell heat-data-cell cleaned-cell">
        <pre class="results-table"></pre>
      </div>
      <div class="table-cell heat-data-cell reviewed-cell">
        <pre class="results-table"></pre>
      </div>
    </div>
  </template>
</body>
</html>
