{% extends "base.jinja2" %}
{% from 'graphviz-link.jinja2' import doturl %}
{% block title %}
    {{ year }}
{% endblock %}
{% block content %}
    <h1>{{ year }} season</h1>
    {% for class_ in ["fours", "eights"] %}
        {% for gender in ["girls", "boys"] %}
            <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-col s9">
                    <h3>{{ gender |title }} {{ class_ |title }}</h3>
                    <a href="{{ base }}/{{ year }}/{{ class_ }}/{{ gender }}/1">First Boat</a><br/>
                    <a href="{{ base }}/{{ year }}/{{ class_ }}/{{ gender }}/2">Second Boat</a><br/>
                    <a href="{{ base }}/{{ year }}/{{ class_ }}/{{ gender }}/3">Third Boat</a><br/>
                    <a href="{{ base }}/{{ year }}/{{ class_ }}/{{ gender }}/4">Fourth Boat</a><br/>
                    {#            <a href="{{ base }}/{{ year }}/fours/girls/5">Fifth Boat</a><br/>#}
                    {#            <a href="{{ base }}/{{ year }}/fours/girls/6">Sixth Boat</a><br/>#}
                    <br/>
                    {#            <a href="{base}/tables/fours-girls.html">Girls Fours Sheet</a>#}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{#    <div class="w3-row-padding w3-margin-bottom">#}
{#        <div class="w3-col s9">#}
{#            <h3>Boys Fours</h3>#}
{#            <a href="{{ base }}/{{ year }}/fours/boys/1">First Boat</a><br/>#}
{#            <a href="{{ base }}/{{ year }}/fours/boys/2">Second Boat</a><br/>#}
{#            <a href="{{ base }}/{{ year }}/fours/boys/3">Third Boat</a><br/>#}
{#            <a href="{{ base }}/{{ year }}/fours/boys/4">Fourth Boat</a><br/>#}
            {#            <a href="{{ base }}/{{ year }}/fours/boys/5">Fifth Boat</a><br/>#}
            {#            <a href="{{ base }}/{{ year }}/fours/boys/6">Sixth Boat</a><br/>#}
{#        </div>#}
{#    </div>#}

    <hr/>

    {#    <div class="w3-row-padding w3-margin-bottom">#}
    {#        <div class="w3-col s9">#}
    {#            <h5>Table pages [experimental]</h5>#}
    {#            <a href="{base}/ranking/fours/girls/1">Girls First Boat</a><br/>#}
    {#        </div>#}
    {#    </div>#}

    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-col s9">
            <h3>About</h3>
            <h4>Purpose and target audience</h4>
            <p>
                The purpose of this website is to visualize data from row2k to help the NEIRA seeding
                committee do their job. At this time, it is specifically intended for use by the NEIRA Girls
                Fours seeding committee, but if there is sufficient interest it can be expanded to support
                other NEIRA committees, coaches, and rowers.
            </p>

            <h4>Data sources</h4>
            <p>
                All data presented here comes from
                <a href="https://www.row2k.com/results/index.cfm?league=NEIRA&year={{ year }}"
                >https://www.row2k.com/results/index.cfm?league=NEIRA&year={{ year }}</a
                >. Any mistakes found in the data should be corrected on the row2k website, since that is the
                authoritative source of information.
            </p>
            <p>
                If you find that row2k is correct, but this site is wrong, please let us know by opening an <a
                    href="https://github.com/mattdailis/neira/issues/new">issue</a
            >.
            </p>
        </div>
    </div>

    {#    <a href="{{ base }}/seeding-tool">Seeding Tool (experimental)</a>#}
{% endblock %}
